body {
    background-color: black;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    color: white;
}

p {
    color: white;
    width: 60%;

}

.video1 {
width: 100%;
}

.video {
    width: 60%;
}

.first {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 60%;
}


img {
    width: 60%;
}

.rightPart {
    width: 50%;
}

.leftPart {
    width: 50%;
}

